<%- contentFor('pageSection') %>
<div class='join content'>
  <div class='form'>
  <div class='row'>
      <input name='phone' placeholder="请输入手机号" id='phone' />
  </div>
  <div class='row'>
    <button class='button' onClick="handleClickJoin()" id='button'>参与活动</button>
  </div>
  </div>
</div>
<script>
  function handleClickJoin() {
    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;

    if(!myreg.test($("#phone").val())) {
      alert('起爱的，能不能输入正确的手机号呢？');
      return false;
    }

    $('#button').attr('disabled', true);
    $.post("/api/join",{ phone: $('#phone').val() },function(result){
      if (result) {
        gio('setUserId', $('#phone').val());
        window.location = '/joinSuccess'
      }
      $('#button').attr('disabled', false);
    });
  }
</script>

<style>
.join{
  background-image: url('assets/join_background.png');
  background-color: #ffffff;
}
.join .form {
    position: absolute;
    top: 50%;
    left: 150px;
    right: 150px;
    text-align: center;
    margin-top: 40px;
        margin-top: 225px;
}

.join .form input {
  width: 100%;
  border-width: 0;
  text-align: center;
  font-size: 38px;
  height: 80px;
  border-bottom: 3px solid red;
}
.join .form button {
    width: 200px;
    font-size: 30px;
    height: 85px;
    margin-top: 38px;
    border-bottom: 3px solid #dddddd;
}
</style>