<%- contentFor('pageSection') %>
<div class='form'>
  <div class='row'>
      <label>手机号：</label><input name='phone' placeholder="请输入手机号" id='phone' />
    </div>
    <div class='row'>
      <button class='button' onClick="handleClickJoin()">参与活动</button>
    </div>
  </div>

<script>
  function handleClickJoin() {
    $.post("/api/join",{ phone: $('#phone').val() },function(result){
      if (result) {
        gio('setUserId', $('#phone').val());
        window.location = '/profile'
      }
    });
  }
</script>
