<html>

<head>
    <title><%- title %></title>
<script type='text/javascript'>
!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/1.0/gio.js","gio");
  gio('init', 'bd72a84bce106d82', {'setImp':'false'});
  gio('send');
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body>
  <h1>GrowingIo Marathon</h1>
  <%- defineContent('pageSection') %>
</body>

</html>
