<%- contentFor('pageSection') %>

<% if (lottery) { %>
  <div>恭喜你发现一个红包, 总计<%- lottery.bonus %>元</div>
  <div><button onClick="getLottery(<%- lottery.id %>)">领取</button></div>
<% } else if (lottery && lottery.lost) { %>
  此红包已被领取
<% } else { %>
  此处无红包
<% } %>
<script>
  function getLottery(id) {
    $.get("/api/lottery/hit/" + id ,function(result){
      if (result.status === 'ok') {
        gio('setUserId', <%- lottery.bonus %>);
        window.alert("成功领取红包");
        window.location = '/profile';
      } else {
        window.alert("红包已被领取");
      }
    });
  }
</script>