table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    direction: none;
    list-style: none
}

input[type="checkbox"],
input[type="radio"] {
    width: 30px !important;
}

td,
th {
    padding: 0;
}

body {
    text-align: center;
}

.form {
    border: 1px solid #ccc;
    width: 350px;
    margin: 0 auto;
}

input {
    height: 30px;
    padding: 3px;
    width: 200px;
    display: inline-block;
}

.row {
    margin: 10px;
}

.button {
    width: 100px;
    height: 30px;
}


.bid {
    width: 500px;
    border: 1px solid #ccc;
}

.bid li {
    text-align: left;
}
